FORMAT: 1A
HOST: https://api.takemobi.io/

# The Mobi Travel Planning API

Mobi provides a REST API for accessing the inter-modal transportation planning 
services. This page documents the second version of the API.

Current version of Mobi API is running on:

* https://api.takemobi.io/

You will need to use https when querying the endpoints: http queries (on port 80) are not supported at the moment. 

The API has four endpoints, **/mobility-data-repository/\<version\>/**, **/intermodal/\<version\>/**, **/mobility-planner/\<version\>/**, **/execution/\<version\>/**, 
for retriving available mobility services, computing routes, planning multi-event trips, and monitoring trip progress.

In order for a client application to be able to access Mobi API
on behalf of it's users, the owner of the client application must first
request access keys by sending an email to [peng@takemobi.com]. 
Please provide your company name and application/project name.

Our service currently covers Boston, San Francisco, Los Angeles, New York City, and other top 30 US metro areas. 
Other cities can be added by request.

## Allowed HTTP requests

* GET - Retrieves a resource or list of resources
* POST - Creates or updates a resource
* PUT - Updates a resource
* DELETE - Deletes a resource


# Group Bluesky

## Get All Supported Tags - Also Known as Plan Profile Domain [/mobility-planner/demo/v2/profile/domain{?mode,context,parent}]

+ Parameters
    + mode (AllowedProblemMode, required) - the planner mode used for this profile domain.
    + context (string, optional) - the context used for this profile domain.
    + parent (string, optional) - the parent filters: if provided only children filters for this parent will be returned.

### GET

Retrieve allowed tags (profile options) given the planning problem mode and context.

+ Response 200 (application/json)

    + Attributes
        + domains (array[Preference], optional) - a list of preference options allowed for different categories of preferences.
            
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.

## Get Recommended Tags for Destination [/mobility-planner/demo/v2/profile/domain/recommendation{?mode,context}]

+ Parameters
    + mode (AllowedProblemMode, required) - the planner mode used for this profile domain.
    + context (string, optional) - the context used for this profile domain.

### GET

Retrieve recommended tags (profile options) given the planning problem mode and context. Up to 20 (10 experience, 5 dining and 5 accommodation) 
at the moment but we can adjust that total number and distribution. 

+ Response 200 (application/json)

    + Attributes
        + recommendations (array[RecommendedAttribute], optional) - a list of recommended preference options.
            
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Get Recommended Tags Given Selection [/mobility-planner/demo/v2/profile/domain/recommendation{?mode,category,context}]

+ Parameters
    + mode (AllowedProblemMode, required) - the planner mode used for this context domain.
    + context (string, optional) - the selected context for recommended filters.
    + category (enum, optional) - the selected category of filters to return.
        + Members
            + `ACCOMMODATION`
            + `EXPERIENCE`
            + `DINING`

### POST

Retrieve the candidate item object matching the specified planning problem mode and candidate id.

+ Request (application/json)

    + Attributes (PreferenceDomainCandidates, required)

+ Response 200 (application/json)

    + Attributes 
        + `results` (array[PreferenceDomainCandidateStructure], optional) - the list of filters the user has selected and saved.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Get All Supported Destinations - Also Known as Plan Contexts [/mobility-planner/demo/v2/domain/contexts{?mode}]

+ Parameters
    + mode (AllowedProblemMode, required) - the planner mode used for this context domain.

### GET

Retrieve all supported destinations (compatible contexts) given the specified planning problem mode.

+ Response 200 (application/json)

    + Attributes 
        + title: `Which park do you want to visit` (string, optional) - a description of the context domain.
        + tags (array[string], required) - a list of tags used for describing the candidate contexts.
        + contexts (array[CandidateItem], required) - a list of context objects found for the mode.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Get Matched Destination - Also Known as Plan Context [/mobility-planner/demo/v2/domain/context{?mode,name}]

+ Parameters
    + mode (AllowedProblemMode, required) - the planner mode used for this context domain.
    + name: `Boston_Massachusetts` (string, required) - the name of the context.

### GET

Retrieve matched destination given the specified planning problem mode and context name.

+ Response 200 (application/json)

    + Attributes
        + context (CandidateItem, required) - a context object matching the given mode and name.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Get Matched Candidate [/mobility-planner/demo/v2/domain/poi{?mode,id}]

+ Parameters
    + mode (AllowedProblemMode, required) - the planner mode used for this context domain.
    + id (string, required) - the candidate id.

### GET

Retrieve the candidate item object matching the specified planning problem mode and candidate id.

+ Response 200 (application/json)

    + Attributes 
        + poi (CandidateItem, required) - a candidate that fit the id.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Get Candidate Suggestions [/mobility-planner/demo/v2/domain/poi/suggestions{?mode,context,category,keyword}]

+ Parameters
    + mode (AllowedProblemMode, required) - the planner mode used for this context domain.
    + context (string, optional) - the context for the POIs.
    + category (enum, required) - the POI category.
        + Members
            + `ACCOMMODATION`
            + `EXPERIENCE`
            + `ATTRACTION`
            + `DINING`
    + keyword (string, required) - the search keyword.

### GET

Retrieve the candidate POIs matching the specified search keyword.

+ Response 200 (application/json)

    + Attributes 
        + candidates (array[PoiSuggestionElement], required) - a list of candidates that fit the search criteria.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Get Filter Suggestions [/mobility-planner/demo/v2/domain/filter/suggestions{?mode,category,keyword,parent}]

+ Parameters
    + mode (AllowedProblemMode, required) - the planner mode used for this context domain.
    + category (enum, optional) - the POI category.
        + Members
            + `ACCOMMODATION`
            + `EXPERIENCE`
            + `ATTRACTION`
            + `DINING`
    + keyword (string, required) - the search keyword.
    + parent (string, optional) - the parent of the returned filters.
    
### GET

Retrieve the candidate filters matching the specified search keyword.

+ Response 200 (application/json)

    + Attributes 
        + candidates (array[PreferenceDomainCandidate], required) - a list of candidate filters that fit the search criteria.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.



## Get Recommended Destinations - Also Known as Candidate Contexts [/mobility-planner/demo/v2/problem/contexts]

### POST

Retrieve recommended destinations (contexts) given the selected tags in the profile encoded in the problem.

+ Request (application/json)

    + Attributes (Problem, required)

+ Response 200 (application/json)

    + Attributes 
        + contexts (array[string], required) - a list of recommended destination names.
        + scores (array[number], required) - a list of matching count for each category of POIs at the recommended destinations (the higher the better). Also includes `SATISFIED_SELECTIONS` and `UNSATISFIED_SELECTIONS`

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Get Nearby Destination - Also Known as Nearby Candidate Contexts [/mobility-planner/demo/v2/problem/nearby-contexts]

### POST

Retrieve candidate destinations (contexts) given the selected destination in the request payload. Currently destinations within 100km will be returned

+ Request (application/json)

    + Attributes (Problem, required)

+ Response 200 (application/json)

    + Attributes 
        + contexts (array[CandidateItem], required) - a list of nearby destination objects.
        + `has_matched_destinations` (boolean, required) - a flag indicating if there are any matched destinations in the response. If set to false, it means that there is no destination matching the provided location, and all returned are close by destinations.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Get Candidate Destination Trips - Also Known as Candidate Context Trips [/mobility-planner/demo/v2/problem/context-trips]

### POST

Retrieve candidate destination (context) trips given the selected tags in the profile, and trip origin/destination/dates encoded in the problem.

+ Request (application/json)

    + Attributes (Problem, required)

+ Response 200 (application/json)

    + Attributes 
        + results (array[ContextTripCandidate], required) - a list of candidate destination trips.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Get Primary Destination Trips - Also Known as Primary Context Trips [/mobility-planner/demo/v2/problem/primary-context-trips{?context}]

+ Parameters
    + context (string, optional) - the context used for this profile domain.

### POST

Retrieve candidate destination (context) trips given the trip destination/dates encoded in the problem.

+ Request (application/json)

    + Attributes (Problem, required)

+ Response 200 (application/json)

    + Attributes 
        + results (array[ContextTripCandidate], required) - a list of candidate destination trips.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Get Candidate Destination Themes - Also Known as Candidate Context Themes [/mobility-planner/demo/v2/problem/context-themes{?sort,max_results}]

+ Parameters
    + sort (enum, optional) - the context used for this profile domain.
        + Members
            + `satisfied_filters`
            + `good_match_filters`
            + `known_for_filters`
    + max_results (number, optional) - the max number of context results that should be returned.

### POST

Retrieve candidate destination (context) themes given the selected tags in the profile, and trip origin/destination/dates encoded in the problem.

+ Request (application/json)

    + Attributes (Problem, required)

+ Response 200 (application/json)

    + Attributes 
        + results (array[ContextThemeCandidate], required) - a list of candidate destination trips.
        + explanations (array[ContextCandidateExplanation], required) - a list of explanation for each recommended context.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        

## Get Candidate Destination Matches to Filters [/mobility-planner/demo/v2/problem/context-filter-match]

### POST

Retrieve candidate destination (context) given the selected tags in the profile, and categorize them baed on the matches.

+ Request (application/json)

    + Attributes (Problem, required)

+ Response 200 (application/json)

    + Attributes 
        + results (array[ContextFilterCandidate], required) - a list of candidate destinations matching the provided filters.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        

## Get Recommended POIs for Destination [/mobility-planner/demo/v2/problem/pois{?context}]

+ Parameters
    + context (string, required) - the selected context for recommended POIs.

### POST

Retrieve recommended POIs for the specified context given the selected tags in the profile encoded in the problem.

+ Request (application/json)

    + Attributes (Problem, required)

+ Response 200 (application/json)

    + Attributes 
        + pois 
            + DINING (array[CandidateItem], required) - a list of recommended dining POIs (up to 10).
            + EXPERIENCE (array[CandidateItem], required) - a list of recommended experience POIs (up to 10).
            + ACCOMMODATION (array[CandidateItem], required) - a list of recommended accommodation POIs (up to 10).

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        

## Get All POIs for Destination [/mobility-planner/demo/v2/domain{?mode,context,lat,lng,radius}]

+ Parameters
    + mode (AllowedProblemMode, required) - the planner mode used for this profile domain.
    + context (string, optional) - the context used for this profile domain.
    + lat (number, optional) - the reference latitude.
    + lng (number, optional) - the reference longitude.
    + radius (number, optional) - the maximum distance from the reference geolocation.
    
### GET

Retrieve all POIs for the specified context given the destination.

+ Request (application/json)

    + Attributes (Problem, required)

+ Response 200 (application/json)

    + Attributes 
        + destination: `Six Flags New England` (string, required) - the name of the destination.
        + destination_photo: `https://image.png` (string, required) - the url to an image of the destination.
        + pois (array[CandidateItem], required) - a list of POIs.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        

## Get Recommended Themes of POIs for Destination [/mobility-planner/demo/v2/problem/poi-recommendations{?context,merge_categories,category,sort}]

+ Parameters
    + context (string, required) - the selected context for recommended POIs.
    + merge_categories (boolean, required) - if the different categories of POI themes should be merged into one in the response. Default is true. Please set to false if you only want POIs separated in categories.
    + sort (enum, optional) - sort the Best for Destination candidates based on the provided criteria.
        + Members
            + best_match
            + price_high
            + price_low
    + category (enum, optional) - if provided, only POI recommendations of the provided category will be returned.
        + Members
            + ACCOMMODATION
            + DINING
            + EXPERIENCE
            + EVENT


### POST

Retrieve recommended POIs, separated in themes, for the specified context given the selected tags in the profile encoded in the problem.

+ Request (application/json)

    + Attributes (Problem, required)

+ Response 200 (application/json)

    + Attributes 
        + results 
            + DINING (array[ThemedCandidateItem], required) - a list of recommended dining POI themes.
            + EXPERIENCE (array[ThemedCandidateItem], required) - a list of recommended experience POI themes.
            + ACCOMMODATION (array[ThemedCandidateItem], required) - a list of recommended accommodation POI themes.
            + EVENT (array[ThemedCandidateItem], required) - a list of recommended event POI themes.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Bulk POI Details Request [/mobility-planner/demo/v2/domain/pois{?mode,return_abstract}]

### Retrieve details of POIs [POST]

+ Parameters

    + mode (string, required) - the mode (group) of the profile to be retrieved
    + return_abstract (boolean, optional) - boolean flag controlling if only subset of POI fields are needed in the response. Default to true.

+ Request (application/json)

    + Attributes
        + pois (array[string], required) - a list of POI IDs.

+ Response 200 (application/json)

    + Attributes
        + pois (array[CandidateItem], required) - details for the requested POIs
            
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
        
# Group Survey

## Get Survey Domain [/mobility-planner/demo/v2/survey/domain{?mode,context,user_id}]

+ Parameters
    + mode (AllowedProblemMode, required) - the planner mode for filtering applicable surveys.
    + context (string, optional) - the context used for filtering applicable surveys.
    + user_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user.

### GET

Retrieve all relevant surveys.

+ Response 200 (application/json)

    + Attributes
        + surveys (array[ProfileSurvey], required) - a list of applicable surveys.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        

## Add Survey Response [/mobility-planner/demo/v2/survey/response{?mode,context,user_id}]

+ Parameters
    + mode (AllowedProblemMode, required) - the planner mode for filtering applicable surveys.
    + context (string, optional) - the context used for filtering applicable surveys.
    + user_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user.

### POST

Add the user's response to a survey.

+ Request (application/json)

    + Attributes (SurveyResponse, required)
  
+ Response 200 (application/json)

    + Attributes
        + status (string, required) - a status message.

    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        

## Add Skipped Survey [/mobility-planner/demo/v2/survey/response/skipped{?mode,context,user_id,survey_id}]

+ Parameters
    + mode (AllowedProblemMode, required) - the planner mode for filtering applicable surveys.
    + context (string, optional) - the context used for filtering applicable surveys.
    + user_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user.
    + survey_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the survey that is skipped.

### POST

Record that the user skipped a survey.

+ Request (application/json)

    + Attributes (SurveyResponse, required)
  
+ Response 200 (application/json)

    + Attributes
        + status (string, required) - a status message.

    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


# Group Tracking

## Track A User Click [/mobility-planner/demo/v2/tracking/click{?mode,url,user_id}]

+ Parameters
    + mode (AllowedProblemMode, required) - the planner mode for filtering applicable clicks.
    + url (string, optional) - the outbound url the click is taking the user to.
    + user_id: `3323-4432-5456345743-f343245346` (string, optional) - a unique identifier for the user if available.

### POST

Add a user click to tracking.

+ Response 200 (application/json)

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.

## Track A Detail View [/mobility-planner/demo/v2/tracking/detail-view{?mode,category,poi_id,problem_id,url,user_id}]

+ Parameters
    + mode (AllowedProblemMode, required) - the planner mode for filtering applicable clicks.
    + category (string, required) - the category of the POI. For example, EXPEREINCE, DINING, ACCOMMODATION, etc..
    + poi_id (string, required) - the unique identifier of the POI.
    + problem_id (string, optional) - the unique identifier of the planning problem this user is working on.
    + url (string, optional) - the outbound url the click is taking the user to.
    + user_id: `3323-4432-5456345743-f343245346` (string, optional) - a unique identifier for the user if available.

### POST

Add a user's POI detail view to tracking.

+ Response 200 (application/json)

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.

## Track Source of User [/mobility-planner/demo/v2/tracking/source{?mode,user_id,utm_source,utm_medium,utm_campaign,location}]

+ Parameters
    + mode (AllowedProblemMode, required) - the planner mode for filtering applicable clicks.
    + user_id: `3323-4432-5456345743-f343245346` (string, optional) - a unique identifier for the user if available.
    + utm_source: `travelhub` (string, required) - a unique identifier for the source where the user came from.
    + utm_medium: `banner` (string, optional) - a unique identifier for the medium.
    + utm_campaign: `email` (string, optional) - a unique identifier for the campaign.
    + location: `landing_page` (string, required) - a unique identifier for the location where this source tracking was sent from.

### POST

Add a user's source to tracking.

+ Response 200 (application/json)

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.

# Group Planning

## Create Problem [/mobility-planner/demo/v2/problem]

Create a new planning problem and find the best solution for the current problem.

### POST

+ Request (application/json)

    + Attributes (Problem, required)
  
+ Response 200 (application/json)

    + Attributes (SolutionResponse, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.

## Create Problem and Find Multiple Versions of Solution [/mobility-planner/demo/v2/problem/versions]

Create a new planning problem, and find the best solutions of different variations (budget, luxury, points maximizer) for it.

### POST

+ Request (application/json)

    + Attributes (Problem, required)
  
+ Response 200 (application/json)

    + Attributes 
        + versions (array[SolutionResponse], required) - a collection of different versions of itineraries created for the planning problem.
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Replan With Modified Activity [/mobility-planner/demo/v2/problem/modified-activity{?session_id,problem_id,activity_id}]

Replan with the modified version (provided in the payload) of an existing activity in the original problem, and all other activities in the original problem.

+ Parameters
    + `session_id`: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.
    + `problem_id`: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the original planning problem.
    + `activity_id`: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the activity that the modified one will replace.

### POST

+ Request (application/json)

    + Attributes (GoalItem, required)
  
+ Response 200 (application/json)

    + Attributes (SolutionResponse, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Replan With Additional Activity [/mobility-planner/demo/v2/problem/new-activity{?session_id}]

Replan with the new activity provided in the payload, and all activities in the original problem.

+ Parameters
    + `session_id`: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.

### POST

+ Request (application/json)

    + Attributes (GoalItem, required)
  
+ Response 200 (application/json)

    + Attributes (SolutionResponse, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Replan With Additional Activities [/mobility-planner/demo/v2/problem/new-activities{?session_id,activity_keyword}]

Replan with the new activities provided in the payload, and all activities in the original problem.

+ Parameters
    + `session_id`: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.
    + `activity_keyword`: `DINNER` (string, optional) - a keyword that planner will use to filter which activity this new POI is applicable to. Currently only 'DINNER' and 'LUNCH' are supported.

### POST

+ Request (application/json)

    + Attributes (array[GoalItem], required)
  
+ Response 200 (application/json)

    + Attributes (SolutionResponse, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Replan With New Timeframes [/mobility-planner/demo/v2/problem/new-timeframes{?session_id}]

Replan with the new timeframe provided in the payload, and all activities in the original problem. Only the `origin.departure_timestamp` and `destination.arrival_timestamp` fields in the payload will be considered.

+ Parameters
    + `session_id`: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.

### POST

+ Request (application/json)

    + Attributes (Problem, required)
  
+ Response 200 (application/json)

    + Attributes (SolutionResponse, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.

## Replan With New Recommendations [/mobility-planner/demo/v2/problem/new-recommendations{?session_id,time_windows}]

Replan with the new activities provided in the payload, and also insert saved places provided in previous iterations to the time windows provided (optional).

+ Parameters
    + `session_id`: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.
    + `time_windows`: `1594135800,1594137600,1594135800,1594137600` (string, optional) - pairs of timestamps (in seconds), separated by comma. If provided, curated activities will only be inserted into these time windows. If not provided, curated activities could be inserted into any part of the plan.

### POST

+ Request (application/json)

    + Attributes (array[GoalItem], required)
  
+ Response 200 (application/json)

    + Attributes (SolutionResponse, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Replan With No Recommendation [/mobility-planner/demo/v2/problem/no-recommendation{?session_id}]

Replan with the new activities provided in the payload, and also remove any inserted planner recommendations.

+ Parameters
    + `session_id`: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.

### POST

+ Request (application/json)

    + Attributes (array[GoalItem], required)
  
+ Response 200 (application/json)

    + Attributes (SolutionResponse, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Replan Transportation Option [/mobility-planner/demo/v2/problem/transportation{?session_id}]

Replan with new transportation options connecting the origin and destination. Currently we support flights and rental cars (real location but the inventory and pricing are estimated). Will be adding trains and buses and possible intermodal options between them.

+ Parameters
    + session_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.

### POST

+ Request (application/json)

    + Attributes (Problem, required)
  
+ Response 200 (application/json)

    + Attributes (SolutionResponse, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Replan With Existing Solution [/mobility-planner/demo/v2/problem/replan-with-solution{?problem_id,solution_id}]

Replan a previously generated solution and get an updated one.

+ Parameters
    + `problem_id`: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the problem.
    + `solution_id`: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the solution.

### POST
  
+ Response 200 (application/json)

    + Attributes (SolutionResponse, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Checking Availability [/mobility-planner/demo/v2/availability-checking]

Evaluating the availability of activities in the provided solution.

### POST

+ Request (application/json)

    + Attributes (Solution, required)
  
+ Response 200 (application/json)

    + Attributes
        + updates (array[ActivityUpdate], optional) - the inventory or pricing updates for activities in the given solution.
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Alternative Availability [/mobility-planner/demo/v2/alternative-availability{?activity_id}]

Getting alternative availability (on different timeslot) for the selected activity from the provided solution.

+ Parameters
    + `activity_id`: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the activity in the solution that alternatives should be looked for.

### POST

+ Request (application/json)

    + Attributes (Solution, required)
  
+ Response 200 (application/json)

    + Attributes
        + alternatives (array[Activity], optional) - a set of alternative availability for the provided activity.
        + locations (array[Location], optional) - relevant locations for the alternative activities.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Replan to Fix Availability Issue [/mobility-planner/demo/v2/replan-alternative-availability]

Find an updated plan that fix all the availability issues in the current solution.

### POST

+ Request (application/json)

    + Attributes (Solution, required)
  
+ Response 200 (application/json)

    + Attributes (SolutionResponse, required)

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.




## Check Session Liveness [/mobility-planner/demo/v2/session-liveness{?session_id}]

Check if there is an active session associated with the session_id (often within 15 minutes of last plan).

+ Parameters
    + session_id: `3323-4432-5456345743-f343245346` (string, optional) - a unique identifier for the user session.

### GET

+ Response 200 (application/json)

    + Attributes
        + `session_id`: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the planning session.
        + `result`: `false` (boolean, required) - a boolean flag indicating if the problem could be found in the backend.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        



## Check Problem Liveness [/mobility-planner/demo/v2/problem-liveness{?problem_id}]

Check there is a problem in the backend identifiable by the problem_id (often within 24 hours of the creation of the origin plan)

+ Parameters
    + problem_id: `3323-4432-5456345743-f343245346` (string, optional) - a unique identifier for the problem.

### GET
  
+ Response 200 (application/json)

    + Attributes
        + `problem_id`: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the planning problem.
        + `result`: `false` (boolean, required) - a boolean flag indicating if the problem could be found in the backend.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        


## Restore Session By Problem [/mobility-planner/demo/v2/restore-session-by-problem{?problem_id}]

Restore a previous planning session by reloading a previously created problem identifiable by the problem_id.

+ Parameters
    + problem_id: `3323-4432-5456345743-f343245346` (string, optional) - a unique identifier for the problem.

### POST
  
+ Response 200 (application/json)

    + Attributes (SolutionResponse, required)

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Restore Session By Solution [/mobility-planner/demo/v2/restore-session-by-solution{?mode}]

Restore a previous planning session by recreating the planning session and problem using the provided solution object and mode identifier.

+ Parameters
    + mode (AllowedProblemMode, required) - the planner mode used for filtering preference options in the profile.

### POST

+ Request (application/json)

    + Attributes (Solution, required) - a solution.
  
+ Response 200 (application/json)

    + Attributes (SolutionResponse, required)

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        

## Save User Session [/mobility-planner/demo/v2/session{?user_id,session_id,auto_saved}]

+ Parameters
    + user_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user.
    + session_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the session.
    + auto_saved: `false` (boolean, optional) - a boolean indicator: if true then the session is saved automatically by the client, if false then the save must have been triggered by the end user.

### POST

Save a user session data (problem and solution). Planner will also attempt to location the objects using the session_id.

+ Request (application/json)

    + Attributes
        + `problem` (Problem, optional) - the problem object.
        + `solution_response` (Solution, optional) - the solution object.
        + `profile` (Profile, optional) - the profile object.
        + `create_time`: 12345567 (number, optional) - timestamp when the session was created.
        + `trip_id`: `df54ee42-35b2-4884-a6a8-e8f935b98bd5` (string, required) - the unique identifier of the trip.
        + `trip_name`: Family trip to Las Vegas (string, optional) - a custom name for the trip.
        + `trip_start_time`: 12345567 (number, optional) - timestamp for the start of the trip.
        + `trip_end_time`: 12345567 (number, optional) - timestamp for the end of the trip.
        + `trip_context`: `LONDON_UK` (string, optional) - timestamp for the context `(destination)` of the trip.

+ Response 200 (application/json)

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
     
     
## Get User Sessions [/mobility-planner/demo/v2/session{?user_id,session_id,trip_id,include_auto_saved,include_user_saved}]

+ Parameters
    + user_id: `3323-4432-5456345743-f343245346` (string, optional) - a unique identifier for the user.
    + trip_id: `3323-4432-5456345743-f343245346` (string, optional) - a unique identifier for the trip.
    + session_id: `3323-4432-5456345743-f343245346` (string, optional) - a unique identifier for the session.
    + include_auto_saved: `true` (boolean, optional) - a boolean value indicating if auto saved sessions should be returned.
    + include_user_saved: `true` (boolean, optional) - a boolean value indicating if user saved sessions should be returned.

### GET

Retrieve the set of user session data created by the user earlier.

+ Response 200 (application/json)

    + Attributes
        + `sessions` (array[UserSessionData], required) - the problem object.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
     
     
## Get User Session Detail [/mobility-planner/demo/v2/session-details{?user_id,session_id,trip_id}]

+ Parameters
    + user_id: `3323-4432-5456345743-f343245346` (string, optional) - a unique identifier for the user.
    + trip_id: `3323-4432-5456345743-f343245346` (string, optional) - a unique identifier for the trip.
    + session_id: `3323-4432-5456345743-f343245346` (string, optional) - a unique identifier for the session.

### GET

Retrieve the set of user session data created by the user earlier.

+ Response 200 (application/json)

    + Attributes
        + `sessions` (array[UserSessionData], required) - the problem object.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
        
## Delete User Session [/mobility-planner/demo/v2/session{?user_id,trip_id}]

+ Parameters
    + user_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user.
    + trip_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the trip.


### DELETE

Delete the previously saved trip, identified by the trip_id.

+ Response 200 (application/json)

    + Attributes
        + `success`: true (boolean, required) - a boolean flag indicating if the deletion operation is successful.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        

## Updated Booking Status [/mobility-planner/demo/v2/booking-status{?user_id,session_id,activity_id,booking_status}]

+ Parameters
    + user_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user.
    + session_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the session.
    + activity_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the activity whose booking status needs to be updated.
    + booking_status: `false` (boolean, optional) - a boolean indicator: if true then the activity is booked; if false then the activity has not been booked by the user.

### POST

Save a user session data (problem and solution). Planner will also attempt to location the objects using the session_id.

+ Request (application/json)

+ Response 200 (application/json)

    + Attributes
        + `activities` (array[Activity], required) - the collection of activities in the current trip, with updated booking status.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Save User Progress [/mobility-planner/demo/v2/progress{?user_id}]

+ Parameters
    + user_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user.

### POST

Save a user progress data (sample trips and filters).

+ Request (application/json)
    + Attributes
        + `profile` (Profile, optional) - the profile object.
        + `selected_trip_id`: `df54ee42-35b2-4884-a6a8-e8f935b98bd5` (string, required) - the unique identifier of the selected trip.
        + `candidate_trips` (array[ContextTripCandidate], optional) - list of all sample trips returned.
        + `selected_filters` (array[Preference], required) - list of all filters selected.

+ Response 200 (application/json)

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
        
## Get User Progress [/mobility-planner/demo/v2/progress{?user_id,selected_trip_id}]

+ Parameters
    + user_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user.
    + selected_trip_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the trip selected by the user.

### GET

Retrieve the set of user session data created by the user earlier.

+ Response 200 (application/json)

    + Attributes
        + `progress` (UserProgressData, required) - the problem object.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Export PDF Itinerary [/mobility-planner/demo/v2/export/itinerary-pdf]

### POST

Export the user trip to a PDF

+ Request (application/json)
    + Attributes
        + `selected_trip_id`: `df54ee42-35b2-4884-a6a8-e8f935b98bd5` (string, required) - the unique identifier of the selected trip.
        + `url`: `https://abcd.com/df54ee42-35b2-4884-a6a8-e8f935b98bd5` (string, required) - the url linking to the page to print to pdf.

+ Response 200 (application/pdf)

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Next Best Solution [/mobility-planner/demo/v2/next-solution{?session_id}]

Find the next best solution for the current problem.

+ Parameters
    + session_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.

### GET
  
+ Response 200 (application/json)

    + Attributes (SolutionResponse, required)

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Get Alternative Activities [/mobility-planner/demo/v2/alternative-activity{?session_id,problem_id,solution_id,activity_id,max_number,sort}]

Given a solution, calculate preferred alternative activities for one inside the solution.

+ Parameters
    + session_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.
    + problem_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the planning problem
    + solution_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the solution that alternatives should apply to.
    + activity_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the activity that calculated alternatives will replace.
    + max_number: `10` (number,required) - the max number of alternative activities to return.
    + sort (enum, optional) - sort the activities based on the provided criteria.
        + Members
            + best_match
            + price_high
            + price_low

### GET
  
+ Response 200 (application/json)

    + Attributes
        + alternatives (array[Activity], optional) - a set of alternative activities for the one specified in the solution.
        + locations (array[Location], optional) - a set of location objects referred by the alternative activities.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Select Alternative Activity and Replan [/mobility-planner/demo/v2/alternative-activity{?session_id,replan,problem_id,solution_id,activity_id}]

Given the alternative activity for one in the existing solution, calculate a new plan.

+ Parameters
    + session_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.
    + replan: `false` (boolean, required) - a boolean value. If set to true, the planner will try to find the best plan for the alternative activity, without preserving the existing selections.
    + problem_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the planning problem.
    + solution_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the solution that this alternative should apply to.
    + activity_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the activity that this alternative will replace.

### POST

+ Request (application/json)

    + Attributes (Activity, required)
  
+ Response 200 (application/json)

    + Attributes (SolutionResponse, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Get Alternative Timeslots [/mobility-planner/demo/v2/alternative-timeslot{?session_id,problem_id,solution_id,activity_id}]

Given a solution, calculate feasible alternative timeslots for one of its activities.

+ Parameters
    + session_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.
    + problem_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the planning problem
    + solution_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the solution.
    + activity_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the activity whose alternative timeslots will be calculated.

### GET
  
+ Response 200 (application/json)

    + Attributes
        + results (array[array[number]], optional) - a list of alternative timeslots (in [lowerbound, upperbound] format) for the activity in the solution.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Select Alternative Timeslot and Replan [/mobility-planner/demo/v2/alternative-timeslot{?session_id,problem_id,solution_id,activity_id,earliest_time,latest_time,activity_keyword}]

Given the alternative timeslot for an activity, calculate a new plan.

+ Parameters
    + session_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.
    + problem_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the planning problem.
    + solution_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the solution that this alternative should apply to.
    + activity_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the activity that this alternative will replace.
    + earliest_time: `1577997127` (number, required) - the earliest start time for the specified activity.
    + latest_time: `1577997127` (number, required) - the latest start time for the specified activity. It could be the same as the earliest time,
    + `activity_keyword`: `DINNER` (string, optional) - a keyword that planner will use to filter which activity this new POI is applicable to. Currently only 'DINNER' and 'LUNCH' are supported.

### POST
  
+ Response 200 (application/json)

    + Attributes (SolutionResponse, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
        
## Get Available Timeslots [/mobility-planner/demo/v2/available-timeslots{?session_id}]

Given a set of Candidate POIs, calculate available timeslots for them that would work for the current solution.

+ Parameters
    + session_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.

### POST

+ Request (application/json)

    + Attributes (array[GoalItem], required)
  
+ Response 200 (application/json)

    + Attributes
        + results (array[array[number]], optional) - a list of alternative timeslots (in [lowerbound, upperbound] format) for the activity in the solution.
        + recommendations (array[TimeslotRecommendation], optional) - a list of recommended timeslots for the activity in the solution.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Get Candidate Activities For Insertion [/mobility-planner/demo/v2/additional-activity{?session_id,problem_id,solution_id,preceding_activity_id,succeeding_activity_id,max_number}]

Given a solution, calculate preferred activities that can be added between the two specified activities.

+ Parameters
    + session_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.
    + problem_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the planning problem
    + solution_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the solution that alternatives should apply to.
    + preceding_activity_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the activity that represents the start of the time gap.
    + succeeding_activity_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the activity that represents the end of the time gap.
    + max_number: `10` (number,required) - the max number of alternative activities to return.

### GET
  
+ Response 200 (application/json)

    + Attributes
        + alternatives (array[Activity], optional) - a set of additional activities for the gap between the activities specified in the solution.
        + locations (array[Location], optional) - a set of location objects referred by the alternative activities.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.


## Select Additional Activity and Replan [/mobility-planner/demo/v2/additional-activity{?session_id,problem_id,solution_id,preceding_activity_id,succeeding_activity_id}]

Given the additional activity between the two specified ones, calculate a new plan.

+ Parameters
    + session_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.
    + problem_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the planning problem.
    + solution_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the solution that alternatives should apply to.
    + preceding_activity_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the activity that represents the start of the time gap.
    + succeeding_activity_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the activity that represents the end of the time gap.

### POST

+ Request (application/json)

    + Attributes (Activity, required)
  
+ Response 200 (application/json)

    + Attributes (SolutionResponse, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        


## Get Alternative Transportation [/mobility-planner/demo/v2/alternative-transportation{?session_id,problem_id,solution_id,activity_id}]

Given a solution and a traversal activity, calculate preferred alternative transportation for it.

+ Parameters
    + session_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.
    + problem_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the planning problem
    + solution_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the solution that alternatives should apply to.
    + activity_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the traversal activity that calculated alternative transportation will replace.

### GET
  
+ Response 200 (application/json)

    + Attributes
        + alternatives (array[Activity], optional) - a set of alternative transportation activities for the one specified in the solution.
        + locations (array[Location], optional) - a set of location objects referred by the transportation activities.
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.



## Select Alternative Transportation and Replan [/mobility-planner/demo/v2/alternative-transportation{?session_id,problem_id,solution_id,activity_id,alternative_activity_id}]

Given the alternative transportation activity for one in the existing solution, calculate a new plan.

+ Parameters
    + session_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.
    + problem_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the planning problem.
    + solution_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the solution that this alternative should apply to.
    + activity_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the transportation activity that this alternative will replace.
    + alternative_activity_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the selected alternative activity.

### POST

+ Request (application/json)

    + Attributes (Activity, required)
  
+ Response 200 (application/json)

    + Attributes (SolutionResponse, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
        
## Get Recommended Activities [/mobility-planner/demo/v2/recommendation/activities{?session_id,problem_id,solution_id}]

Get recommended activities for an existing itinerary and their preferred time windows.

+ Parameters
    + session_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.
    + problem_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the planning problem.
    + solution_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the solution that the recommendations should apply to.
    
### GET
  
+ Response 200 (application/json)

    + Attributes
        + `candidates` (array[RecommendationCandidate], optional) - a set of recommended activities for the present itinerary. 
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
        
## Get Recommended POIs [/mobility-planner/demo/v2/recommendation/pois{?session_id}]

Get recommended POIs for an existing itinerary and their preferred time windows.

+ Parameters
    + session_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.

### GET
  
+ Response 200 (application/json)

    + Attributes
        + recommendations (array[PoiRecommendation], optional) - a list of recommended POIs and their timeslot for the solution.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
        
## Get Recommended POIs and Input Evaluation [/mobility-planner/demo/v2/recommendation/pois{?session_id}]

Get recommended POIs as well as a flag indicating if the inputs are sufficient for a personalized plan.

+ Parameters
    + session_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.

### POST

+ Request (application/json)

    + Attributes (Profile, optional)
  
+ Response 200 (application/json)

    + Attributes
        + recommendations (array[PoiRecommendation], optional) - a list of recommended POIs and their timeslot for the solution.
        + `need_additional_dining_inputs` (boolean, required) - a flag indicating if additional dining inputs are needed for a personalized plan.
        + `need_additional_experience_inputs` (boolean, required) - a flag indicating if additional experience inputs are needed for a personalized plan.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        

## Reschedule Activity [/mobility-planner/demo/v2/reschedule-activity{?session_id,problem_id,solution_id}]

Given an activity from the existing solution but with an updated schedule (start/end times or duration), calculate a new plan.

+ Parameters
    + session_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.
    + problem_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the planning problem.
    + solution_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the solution that this rescheduling should apply to.

### POST

+ Request (application/json)

    + Attributes (Activity, required)
  
+ Response 200 (application/json)

    + Attributes (SolutionResponse, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        

## Remove Activity and Replan [/mobility-planner/demo/v2/activity{?session_id,problem_id,solution_id,activity_id,candidate_id}]

Remove the specified activity in the existing solution, and calculate a new plan.

+ Parameters
    + session_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.
    + problem_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the planning problem.
    + solution_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the solution this removal will apply to.
    + activity_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the activity to be removed.
    + candidate_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the POI candidate to be removed.

### DELETE
  
+ Response 200 (application/json)

    + Attributes (SolutionResponse, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.

## Add Temporal Conflict and Replan [/mobility-planner/demo/v2/temporal-conflict{?session_id}]

Insert a new conflict of one temporal constraint and find the next best solution for the current problem.

+ Parameters
    + session_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user session.

### POST

+ Request (application/json)

    + Attributes (Constraint, required)
  
+ Response 200 (application/json)

    + Attributes (SolutionResponse, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
## Confirm Customer Activity Selection [/mobility-planner/demo/v2/activity-selections{?problem_id,solution_id}]

Confirm the final activity selections by the customer. 

+ Parameters
    + problem_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the planning problem.
    + solution_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the original planning solution.

### POST

+ Request (application/json)

    + Attributes (ActivitySelection, required)
        
+ Response 200 (application/json)

        Success.
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.

## Confirm Plan for Execution [/mobility-planner/demo/v2/solution{?problem_id,solution_id}]

Confirm a solution for execution.

### POST

+ Parameters
    + problem_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the planning problem created.
    + solution_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the solution to confirm.

+ Response 200 (application/json)

        The plan has been confirmed.
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.

## Get Confirmed Plan for a Problem [/mobility-planner/demo/v2/solution/confirmed{?problem_id}]

Get confirmed solution for the given problem.

### GET

+ Parameters
    + problem_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the planning problem created.

+ Response 200 (application/json)

    + Attributes
        + `problem_id`: `4af63767-826b-4a76-af99-53e71840378d` (string, required) - a unique identifier for the given planning problem.
        + `solution_id`: `59392ab2-61a9-418d-924b-217ed8fd043e` (string, required) - a unique identifier for a solution previously confirmed for the problem.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.

## Update solution display [/mobility-planner/demo/v2/solution/display{?session_id,display_flights,display_accommodations}]

Updated the display for a solution.

### POST

+ Parameters
    + session_id: `3323-4432-5456345743-f343245346` (string, required) - the id for the session.
    + activity_id: `3323-4432-5456345743-f343245346` (string, optional) - the id for the activity that this display control applies to.
    + display_flights: `false` (boolean, required) - a flag indicating if solution should display flights.
    + display_accommodations: `false` (boolean, required) - a flag indicating if solution should display accommodations.

+ Response 200 (application/json)

        + Attributes (SolutionResponse, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.

## Commit events in Plan to Google Calendar [/mobility-planner/demo/google/calendar/commit/{problem_id}/{solution_id}]

Commit the events in the plan to the user's Google calendar. Will redirect to Google's authentication page to obtain access.

### GET

+ Parameters
    + problem_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the planning problem created.
    + solution_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the solution plan to commit.

+ Response 200 (application/json)

        The plan has been committed successfully.
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.

## Sync events from Google Calendar [/mobility-planner/demo/v2/google/calendar/sync/{start}/{end}]

Retrieve events in the user's Google calendar. Will redirect to Google's authentication page to obtain access.

### GET

+ Parameters
    + start: `5456345743` (number, required) - start time of the calendar event range to retrieve. It is a unix timestamp in seconds.
    + end: `5456345743` (number, required) - end time of the calendar event range to retrieve. It is a unix timestamp in seconds.

+ Response 200 (application/json)

        A list of events in the user's calendar that fits the time range. See https://developers.google.com/calendar/v3/reference/events for the response event format.
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
## Plan Profile [/mobility-planner/demo/v2/profile{?user_id,mode,context}]

+ Parameters
    + user_id: `3323-4432-5456345743-f343245346` (string, required) - a unique user identifier for the planning problem profile.
    + mode (AllowedProblemMode, required) - the planner mode used for filtering preference options in the profile.
    + context (string, optional) - the context used for filtering preference options in the profile.

### GET

Retrieve the planning problem profile.

+ Response 200 (application/json)

    + Attributes (Profile, optional)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.

### POST

Update the planning problem profile for the user.

+ Request (application/json)

    + Attributes (Profile, required)

+ Response 200 (application/json)

        The profile has been updated.
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
## Plan Profile Avatar [/mobility-planner/demo/v2/profile/avatar{?user_id}]

+ Parameters
    + user_id: `3323-4432-5456345743-f343245346` (string, required) - a unique user identifier for the planning problem profile.

### POST

Update the avatar in the planning problem profile for the user.

+ Request (multipart/form)

    + Attributes
        + file: PNG image file

+ Response 200 (application/json)

    + Attributes (Profile, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
## Plan Profile Domain [/mobility-planner/demo/v2/profile/domain{?mode,context,category,parent}]

+ Parameters
    + mode (AllowedProblemMode, required) - the planner mode used for this profile domain.
    + context (string, optional) - the context used for this profile domain.
    + category (string, optional) - the category name (ACCOMMODATION, DINING, EXPERIENCE) for the profile domain.
    + parent (string, optional) - the parent name for this profile domain.

### GET

Retrieve allowed profile options given the planning problem mode and context.

+ Response 200 (application/json)

    + Attributes
        + domains (array[Preference], optional) - a list of preference options allowed for different categories of preferences.
            
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
        
## Plan Profile Survey Domain [/mobility-planner/demo/v2/profile/domain/survey{?survey_id}]

+ Parameters
    + survey_id: `3323-4432-5456345743-f343245346` (string, optional) - the unique identifier for a profile survey.

### GET

Retrieve matched (if `survey_id` is provided) profile surveys. If `survey_id` is not provided, all surveys will be returned

+ Response 200 (application/json)

    + Attributes
        + surveys (array[ProfileSurvey], optional) - a list of profile surveys.
            
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        

## Plan Profile Survey Questions [/mobility-planner/demo/v2/profile/domain/survey/question{?question_id}]

+ Parameters
    + question_id: `3323-4432-5456345743-f343245346` (string, optional) - the unique identifier for a profile survey question.

### GET

Retrieve matched (if `question_id` is provided) profile survey question. If `question_id` is not provided, all survey questions will be returned

+ Response 200 (application/json)

    + Attributes
        + questions (array[ProfileSurveyQuestion], optional) - a list of profile questions.
            
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        

## Plan Profile Survey Anwsers [/mobility-planner/demo/v2/profile/domain/survey/answer{?answer_id}]

+ Parameters
    + answer_id: `3323-4432-5456345743-f343245346` (string, optional) - the unique identifier for a profile survey answer.

### GET

Retrieve matched (if `answer_id` is provided) profile survey answer. If `answer_id` is not provided, all survey answers will be returned

+ Response 200 (application/json)

    + Attributes
        + answers (array[ProfileSurveyAnswer], optional) - a list of profile survey answers.
            
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        

## Plan Profile Survey Anwser Explanations [/mobility-planner/demo/v2/profile/domain/survey/answer/explanation{?explanation_id}]

+ Parameters
    + explanation_id: `3323-4432-5456345743-f343245346` (string, optional) - the unique identifier for a profile survey answer explanation.

### GET

Retrieve matched (if `explanation_id` is provided) profile survey answer explanation. If `explanation_id` is not provided, all survey answer explanations will be returned

+ Response 200 (application/json)

    + Attributes
        + explanations (array[ProfileSurveyAnswerExplanation], optional) - a list of profile survey answer explanations.
            
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        

## Profile Survey Suggestions [/mobility-planner/demo/v2/profile/survey/suggestions]

### POST

Retrieve relevant survey category values given the requested category and previous user selections.

+ Request (application/json)

    + Attributes (SurveySuggestionRequest, required)
    
+ Response 200 (application/json)

    + Attributes
        + suggestions (array[string], optional) - a list of candidate keywords in the requested category for the user to pick.
            
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
## Save Survey Response [/mobility-planner/demo/v2/profile/survey/response?{session_id}]

+ Parameters
    + `session_id` (string, required) - a unique identifier for the user session.

### POST

Save survey response.

+ Request (application/json)

    + Attributes (SurveyResponse, required)
    
+ Response 200 (application/json)

    + Attributes (SurveyResponse, required)
            
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        

## Retrieve Survey Response [/mobility-planner/demo/v2/profile/survey/response?{session_id}]

+ Parameters
    + `session_id` (string, required) - a unique identifier for the user session.

### GET

Retrieve previously saved survey responses.
    
+ Response 200 (application/json)

    + Attributes (SurveyResponses, required)
            
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
## Plan POIs [/mobility-planner/demo/v2/domain{?mode,context}]

+ Parameters
    + mode (AllowedProblemMode, required) - the planner mode used for this domain.
    + context (string, optional) - only return POIs in this domain that has the specified context.

### GET

Retrieve all possible POIs that can be added to the planning problem given the specified planning problem mode and context.

+ Response 200 (application/json)

    + Attributes (array[POIDomain], optional)

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
## Plan Contexts [/mobility-planner/demo/v2/domain/contexts{?mode}]

+ Parameters
    + mode (AllowedProblemMode, required) - the planner mode used for this context domain.

### GET

Retrieve all compatible contexts given the specified planning problem mode.

+ Response 200 (application/json)

    + Attributes 
        + contexts (array[CandidateItem], required) - a list of solution objects found for the problem.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
        
## Get Context Suggestions [/mobility-planner/demo/v2/domain/contexts/suggestions{?mode,keyword,source,destination_only,return_contexts}]

+ Parameters
    + mode (AllowedProblemMode, required) - the planner mode used for this context domain.
    + keyword (string, required) - the search keyword.
    + source (string, optional) - the source keyword. Currently supporting one 'worldcities', which will disable Mobi search and use the 14k world city search for matching.
    + destination_only: false (boolean, optional) - boolean flag to indicate if only destiantion (not country or airport) should be returned.
    + return_contexts: false (boolean, optional) - boolean flag to indicate if the complete context objects should be returned.

### GET

Retrieve the candidate contexts matching the specified search keyword.

+ Response 200 (application/json)

    + Attributes 
        + candidates (array[PoiSuggestionElement], required) - a list of candidates that fit the search criteria.
        + contexts (array[CandidateItem], optional) - a list of context objects that fit the search criteria, if requested.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.

## Get Previous Problem [/mobility-planner/demo/v2/problem{?problem_id}]

+ Parameters
    + problem_id: `3323-4432-5456345743-f343245346` (string, required) - a unique problem identifier for a previously solved planning problem.

### GET

Retrieve a previously solved problem and solutions objects.

+ Response 200 (application/json)

    + Attributes
        + problem (Problem, required) - the problem object that matches the given problem id.
        + solutions (array[Solution], required) - a list of solution objects found for the problem.
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
## Get Previous Solution [/mobility-planner/demo/v2/solution{?problem_id,solution_id}]

Get previously generated solution for the given problem.

### GET

+ Parameters
    + `problem_id`: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the planning problem created.
    + `solution_id`: `59392ab2-61a9-418d-924b-217ed8fd043e` (string, required) - a unique identifier for a solution previously generated for the problem.

+ Response 200 (application/json)

    + Attributes
        + solutions (Solution, required) - the solution objects found for the problem.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.

## Get Example Problem [/mobility-planner/demo/v2/example{?user_id,mode}]

+ Parameters
    + `user_id`: `3323-4432-5456345743-f343245346` (string, required) - a unique user identifier for the planning problem profile.
    + mode (AllowedProblemMode, optional) - the planner mode constraint. The example problem will be returned only if it is compatible with the mode. If not specified, the example problem (if one exists for the profile) will be returned.

### GET

Retrieve an example problem for this user.

+ Response 200 (application/json)

    + Attributes (Problem, optional)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.

## Get Example Profiles [/mobility-planner/demo/v2/example/profiles{?mode,in_destination,blue_sky}]

+ Parameters
    + mode (AllowedProblemMode, required) - the planner mode constraint. The example profiles will be returned only if it is compatible with the mode.
    + `in_destination`: `false` (boolean, optional) - a boolean flag. If set to true, only in_destination profiles will be returned.
    + `blue_sky`: `false` (boolean, optional) - a boolean flag. If set to true, only blue_sky profiles will be returned.

### GET

Retrieve all compatible profile Ids for the mode.

+ Response 200 (application/json)

    + Attributes
        + mode (AllowedProblemMode, required) - the requested planner mode.
        + `in_destination` (boolean, required) - the requested in_destination flag.
        + `blue_sky` (boolean, required) - the requested blue_sky flag.
        + `profiles` (array[Profile], required) - a list of profiles compatible with the given mode and flags.
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.

## Verify Service Status [/mobility-planner/demo/v2/verify]

Check if the planning service is up and running.

### GET

+ Response 200 (application/json)

        The planning service is up and running.
        
+ Response 500

        Internal Server Error.


# Group Routing

## Intermodal Routes [/intermodal/v1/routes/all{?origin,origin_name,destination,destination_name,waypoints,waypoint_arrival_times,waypoint_departure_times,modes,departure_time,arrival_time,duration_stay,accessible,memberships,max_results,duration_margin,walkingtime_margin,bikingtime_margin,cost_margin,save_response,street_parking,electric_charger,config,return_polyline,request_id,max_results}]

Compute best intermodal routes. The set of parameters accepted by different transportation modes are identical, though some may be 
ignored give the different mode combinations allowed (e.g. the choices of parking providers will be ignored in transit only routes). 

+ Parameters
    + origin: `42.44303,-71.22896` (string, required) - A comma separated string that encodes the coordinates of the trip origin.
    + `origin_name`: `origin` (string, optional) - The name of the trip origin.
    + destination: `42.358463,-71.093465` (string, required) - A comma separated string that encodes the coordinates of the trip destination.
    + `destination_name`: `destination` (string, optional) - The name of the trip destination.
    + waypoints: `42.44303,-71.22896,42.44303,-71.22896,42.44303,-71.22896` (string, optional) - The latitude and longitude numbers of all intermediate waypoints to stop at.
    + `waypoint_arrival_times`: `1482289608,-1,-1` (string, optional) - The desired arrival times at each waypoint, in seconds since midnight, January 1, 1970 UTC. Set to -1 if no desired arrival time for the corresponding waypoint.
    + `waypoint_departure_times`: `-1,-1,1482289608` (string, optional) - The desired departure times at each waypoint, in seconds since midnight, January 1, 1970 UTC. Set to -1 if no desired departure time for the corresponding waypoint.
    + modes: `TRANSIT` (string, required) - The travel modes requested for the trip. You can include multiple mode names, separated by the comma character `,`, such as `TRANSIT,BIKESHARE`. 
        + Members
            + DRIVE
            + BIKE
            + WALK
            + TRANSIT
            + CARSHARE
            + BIKESHARE
            + TAXI
    + `departure_time`: `1482289608` (integer, optional) - Specifies the desired time of departure as an integer in seconds since midnight, January 1, 1970 UTC. Only one of the departure/arrival time constraints can be set.
    + `arrival_time`: `1482289608` (integer, optional) - Specifies the desired time of arrival as an integer in seconds since midnight, January 1, 1970 UTC. Only one of the departure/arrival time constraints can be set.
    + `duration_stay`: `3600` (integer, optional) - specifies the desired duration of stay at the destination (in seconds). Used for calculating the cost associated with parking and carshare.
    + accessible: `true` (boolean, optional) - Specifies if any transit route included in the trip must be accessible (applies to both vehicles and stops).
        + Default: `false`
    + memberships (AllowedMembershipType, optional) - Specifies the user holds any transit cards, passes, bikeshare or carshare or rideshare memberships. You can include multiple membership names, separated by the comma character `,`, such as `BLUEBIKES24,UBER,LYFT`.
    + `duration_margin`: `5`(number, optional) - Specifies the maximum difference in the total durations of two routes in the response, when every other metrics of the routes being equal.
        + Default: `0`
    + `walkingtime_margin`: `5`(number, optional) - Specifies the maximum difference in the total walking durations of two routes in the response, when every other metrics of the routes being equal.
        + Default: `0`
    + `bikingtime_margin`: `5`(number, optional) - Specifies the maximum difference in the total biking durations of two routes in the response, when every other metrics of the routes being equal.
        + Default: `0`
    + `cost_margin`: `5`(number, optional) - Specifies the maximum difference in the total cost of two routes in the response, when every other metrics of the routes being equal.
        + Default: `0`
    + `street_parking`: `true` (boolean, optional) - Specifies if on-street parking can be used in the routing results.
        + Default: `true`
    + `electric_charger`: `false` (boolean, optional) - Specifies if only parking locations with electric vehicle charging devices can be used in the routing results.
        + Default: `false`
    + config: `DISNEY` (string, optional) - Specifies if any special configuration should be used when calculate routing results.
        + Members
            + DISNEY
            + CUBIC
            + FORD   
    + `request_id`: `324-25sdfgsd-345364-sdgfdsfg` (string, optional) - A UUID for the routing request for future reference.
        + Default: ``
    + `return_polyline`: `true` (boolean, optional) - Specifies if the `path` field of each routing option, which stores the polyline for the movement, should be included in the resposne.
        + Default: `true`
    + `save_response`: `false` (boolean, optional) - Specifies if the routing result should be cached in the server side for retrieval later. Note that even if the `return_polyline` field is set to false in the query, the server will cache the complete routing object with the `path` field.
        + Default: `false`
    + `max_results`: `50` (number, optional) - Specifies the maximum number of routing options to be returned in the response.
        + Default: `50`

### GET

The response of this action is a JSON object that encodes one or more routes. By default, the routes returned are optimized along the pareto front of two objectives, which are different depending on the modes specified:

* Park and Walk: cost and walking time.
* Park and Transit: cost and trip duration.
* Park and Bikeshare: cost and the sum of walking and biking times.
* Park and Rideshare: cost and trip duration.
* Transit and Walk: duration and walking time.
* Transit and Bikeshare: duration and the sum of walking and biking times.
* Transit and Rideshare: cost and trip duration.
* Transit and Carshare: cost and trip duration.
* Bikeshare: duration and walking time.
* Bikeshare and Carshare: cost and trip duration.
* CarShare: cost and walking time.
* Rideshare: cost and trip duration.

The formats of responses for different transportation modes are the same, 
though some optional fields (parking, transit, rideshare, bikeshare and carshare) 
may appear in the routes of some modes.

+ Request
    + Headers

            Authorization:  Bearer <id_token> - (optional) the `id_token` returned from the authentication endpoint.
            Device-Id: <app_id> - (optional) the installation id of the app that is sending the routing request. No authentication required and this id will only be used to identify the request if saved.

+ Response 200 (application/json)

    A set of routes from the origin to the destination.

    + Attributes
        + routes (array[Route], optional) - the set of routes found that meet the requirements.
        + spec (RoutingSolutionSpec, optional) - the specifications of the solution and the routing process.
        
+ Response 204

+ Response 400

        Bad Request.
        
+ Response 500

        Internal Server Error.       
 

## Multi-to-multi summary [/intermodal/v1/routes/multi-to-multi]

Calculate route attributes (not the route) for each pair of locations defined in the query.

### POST

+ Request (application/json)

    + Attributes (MultiRoutingQuery, required)
  
+ Response 200 (application/json)

    A set of routes for each requested pair of locations.

    + Attributes (MultiRoutingSummaryResult, required)
        
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.            
 

## Multi-to-multi path [/intermodal/v1/routes/multi-to-multi-path]

Calculate paths (not the detailed routes) for each pair of locations defined in the query.

### POST

+ Request (application/json)

    + Attributes (MultiRoutingQuery, required)
  
+ Response 200 (application/json)

    A set of routes for each requested pair of locations.

    + Attributes (MultiRoutingPathResult, required)
        
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.    


# Group Execution

## Status [/mobility-planner/v1/execution/status]

### Update Activity Status [POST /mobility-planner/v1/execution/status{?user_id}]

Update the status of an activity in the user's plan. If the update makes the plan infeasible, an error message will be returned.

+ Parameters
    + user_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user.

+ Request (application/json)

    + Attributes (ActivityStatusUpdates, required)

+ Response 200 (application/json)

        Status update is successful.
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
### Get Plan Status [GET /mobility-planner/v1/execution/status{?user_id}]

Get the status of the user's plan.

+ Parameters
    + user_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user.

+ Response 200 (application/json)

    + Attributes
        + status (enum, required) - contains metadata on the request.
            + Members
                + CREATED - indicates the planning problem has been created for the user.
                + CONFIRMED - indicates a plan has been selected by the user.
                + EXECUTING - indicates the execution of the plan has started.
                + DELAYED - indicates an execution delay that causes the original plan to be over-constrained. Additional relaxations are required to restore consistency.
                + INTERRUPTED - indicates that the user's plan has become infeasible due to delay or other unexpected interruptions. Replanning is required.
                + COMPLETED - indicates that all activities in the plan has been executed successfully.
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        

## Events [/mobility-planner/v1/execution/events]

### Get Events [GET /mobility-planner/v1/execution/events{?user_id,lowerbound,upperbound}]

Get active events of the user within the specified time period. If no user id is given, all active events of all users within the specified time period wil be returned.

For an event, e,  in the user’s calendar, it will be returned if the following criteria are satisfied:

1. let the current time (unix time in seconds) to be t: scheduledEndTime(e) > t - 21600s (6 hours) AND scheduledStartTime(e) < t + 86400s (24 hours)
2. e is part of an active plan. An active plan is one computed by the planner, for events from the user’s calendar and the web interface, and confirmed by the user. One user can have no more than one active plan at any time. That means: whenever the user confirms a new plan, the previously confirmed plan will be discarded (even if there is zero overlapping), and all events in the previous plan will no longer be tracked.


+ Parameters
    + user_id: `3323-4432-5456345743-f343245346` (string, optional) - a unique identifier for the user.
    + lowerbound: 1513725841 (number, optional) - the lower time bound within which events can be returned. Default is Current time minus 6 hours.
    + upperbound: 1513728841 (number, optional) - the upper time bound within which events can be returned. Default is Current time plus 24 hours.

+ Response 200 (application/json)

    + Attributes (array[Activity], required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
### Update Estimated Event Timing [POST /mobility-planner/v1/execution/estimated_times{?user_id}]

Update the estimated start time, end time, or duration for events. A consistency check will be executed after the update, and an error will be returned if the original plan is no longer valid.

+ Parameters
    + user_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user.

+ Request (application/json)

    + Attributes (ActivityTimingUpdates, required)
    
+ Response 200 (application/json)

    + Attributes (array[Activity], required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
### Update Actual Event Timing [POST /mobility-planner/v1/execution/actual_times{?user_id}]

Update the actual start time or end time for events. A consistency check will be executed after the update, and an error will be returned if the original plan is no longer valid.

+ Parameters
    + user_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user.

+ Request (application/json)

    + Attributes (ActivityTimingUpdates, required)
    
+ Response 200 (application/json)

    + Attributes (array[Activity], required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
        
## Replan [/mobility-planner/v1/execution/problem]

### Update Problem for Replanning [PUT /mobility-planner/v1/execution/problem{?user_id}]

Update the current state of the user and update the user's planning problem.

+ Parameters
    + user_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user.

+ Request (application/json)

    + Attributes (Location, required)

+ Response 200 (application/json)

    + Attributes (Problem, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
        
### Get Problem For Replanning [GET /mobility-planner/v1/execution/problem{?user_id}]

Get the current planning problem for the user.

+ Parameters
    + user_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user.

+ Response 200 (application/json)

    + Attributes (Problem, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
        
### Replan and Get Solution [POST /mobility-planner/v1/execution/solution{?user_id}]

Replan the current planning problem and get solution.

+ Parameters
    + user_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user.

+ Request (application/json)

    + Attributes (Location, required)

+ Response 200 (application/json)

    + Attributes (Solution, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
        
### Update Plan Schedule [PUT /mobility-planner/v1/execution/schedule{?user_id}]

Computing a new schedule for an existing plan with activity updates. If the plan is no longer consistent, an error will be returned signaling that additional relaxations or replanning is required.

+ Parameters
    + user_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user.

+ Response 200 (application/json)

    The new plan for the problem.

    + Attributes (Solution, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
        
### Update Plan Relaxations [PUT /mobility-planner/v1/execution/relaxations{?user_id}]

Computing a new schedule for the plan by re-computing relaxations to the existing one with activity updates. An error will be returned if no feasible relaxations can be found.

+ Parameters
    + user_id: `3323-4432-5456345743-f343245346` (string, required) - a unique identifier for the user.

+ Response 200 (application/json)

    The new plan for the problem.

    + Attributes (Solution, required)
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.

# Group Data Repository

## Transit [/mobility-data-repository/v1/transit]

### Stop Locations [GET /mobility-data-repository/v1/transit/stations{?lat,lng,radius}]

This query will return a list of the nearest transit stops from a particular location, within the radius specified. 

+ Parameters
    + lat: `42.360954` (number, required) - the latitude for location near which stops should be returned. 
    + lng: `-71.101483` (number, required) - the longitude for location near which stops should be returned.
    + radius: `1000` (number, optional) - the radius of search in meters.

+ Request
    + Headers
    
            x-api-key: [valid_api_key_goes_here]

+ Response 200 (application/json)

    An array of transit stations found that meet the search requirements.
 
    + Attributes 
        + results (array[TransitStation], required) - the set of transit stops.
    
+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.

### Arriving Vehicles [GET /mobility-data-repository/v1/transit/arrivals{?stop_id,agency}]

This query will return predicted arrivals and departures in the next hour for a particular transit stop. 

+ Parameters
    + stop_id: `70070` (string, required) - GTFS-compatible id value for the station whose predictions should be returned. 
    + agency: 'MBTA' (string, required) - The Id of the transit agency returned from the stop location endpoint.

 
+ Request
    + Headers
    
            x-api-key: [valid_api_key_goes_here]


+ Response 200 (application/json)

    + Attributes 
        + results (array[TransitRoutePrediction], required) - an array of arrival/departure predictions for the selected transit route.

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        

### Vehicle Positions [GET /mobility-data-repository/v1/transit/vehicles{?route_id,agency}]

This query will return the positions of vehicles operating on a transit route. 

+ Parameters
    + route_id: `1345` (string, required) - GTFS-compatible id value for the route whose vehicle positions should be returned. 
    + agency: 'MBTA' (string, required) - The Id of the transit agency returned from the stop location endpoint.


+ Request
    + Headers
    
            x-api-key: [valid_api_key_goes_here]
            
+ Response 200 (application/json)

    An array of vehicle positions for the transit routes.

    + Attributes (array[TransitVehicleLocation], required)

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
## Parking [/mobility-data-repository/v1/parking]

### Locations [GET /mobility-data-repository/v1/parking/locations{?lat,lng,radius,limit,street}]

This query will return a list of the nearest parking from a particular location. Up to the specified count are returned, within the radius specified. 

+ Parameters
    + lat: `42.360954` (number, required) - the latitude for location near which parking should be returned. 
    + lng: `-71.101483` (number, required) - the longitude for location near which parking should be returned.
    + radius: `1000` (number, optional) - the radius of search in meters.
    + limit: `20` (number, optional) - the maximum number of results returned.
    + street: `false` (boolea, optional) - if street parking should be included in the results.

+ Response 200 (application/json)

    An array of parking locations found that meet the search requirements.

    + Attributes (array[ParkingLocation], required)

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
## CarShare [/mobility-data-repository/v1/carshare]

### Locations [GET /mobility-data-repository/v1/carshare/locations{?lat,lng,radius,limit,operator}]

This query will return a list of the nearest carshare locations from a particular location. Up to the specified count are returned, within the radius specified. 

+ Parameters
    + lat: `42.360954` (number, required) - the latitude for location near which carshare locations should be returned. 
    + lng: `-71.101483` (number, required) - the longitude for location near which carshare locations should be returned.
    + radius: `1000` (number, optional) - the radius of search in meters.
    + limit: `20` (number, optional) - the maximum number of results returned.
    + operator (enum, optional) - the name of the carshare network operator.
        + Members
            + ZIPCAR
            + MAVEN

+ Response 200 (application/json)

    An array of carshare locations found that meet the search requirements.

    + Attributes (array[CarShareLocation], required)

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
### Vehicles [GET /mobility-data-repository/v1/carshare/vehicles{?lat,lng,radius,limit,operator,location_id}]

This query will return a list of carshare vehicles. 

+ Parameters
    + lat: `42.360954` (number, required) - the latitude for location near which carshare vehicles should be returned. 
    + lng: `-71.101483` (number, required) - the longitude for location near which carshare vehicles should be returned.
    + radius: `1000` (number, optional) - the radius of search in meters.
    + limit: `20` (number, optional) - the maximum number of results returned.
    + operator (enum, optional) - the name of the carshare network operator.
        + Members
            + ZIPCAR
            + MAVEN
    + location_id: `2056127341` (string, required) - id value for a carshare location whose vehicles should be returned. 
            
+ Response 200 (application/json)

    An array of carshare vehicles at the location.
    
    + Attributes (array[CarShareVehicle], optional)

+ Response 400

        Bad Request.
        
+ Response 401

        Unauthorized.
        
+ Response 500

        Internal Server Error.
        
[...]
